.features
	.container
		.row
			.col-md-12
				ul.features-nav.col-md-6.col-sm-12.tac
					li.features-nav-item
						a(href="").features-nav-target.opacity agencies
					li.features-nav-item
						a(href="").features-nav-target.opacity publishers
					li.features-nav-item
						a(href="").features-nav-target.opacity about us
					li.features-nav-item
						a(href="").features-nav-target.opacity learning center
					li.features-nav-item
						a(href="").features-nav-target.opacity blog
					li.features-nav-item
						a(href="").features-nav-target.opacity news
				ul.features-social.col-md-6.col-sm-12.tac
					li.features-social-item.features-social-first
						span.features-social-text Follow us:
					li.features-social-item
						a(href="").features-item-target.opacity.twitter
					li.features-social-item
						a(href="").features-item-target.opacity.facebook
					li.features-social-item
						a(href="").features-item-target.opacity.youtube
					li.features-social-item
						a(href="").features-item-target.opacity.linkedin
					li.features-social-item
						a(href="").features-item-target.opacity.google
					li.features-social-item
						a(href="").features-item-target.opacity.rss