footer.footer
	.container
		.row
			.footer-content
				ul.item.col-sm-12.col-md-2
					a(href="").title Services
					li.footer-list-item
						a(href="").footer-list-target Example Item 1
					li.footer-list-item
						a(href="").footer-list-target Example Item 2
					li.footer-list-item
						a(href="").footer-list-target Example Item 3
					li.footer-list-item
						a(href="").footer-list-target Example Item 4

				ul.item.col-md-2
					a(href="").title Software
					li.footer-list-item
						a(href="").footer-list-target Example Item 1
					li.footer-list-item
						a(href="").footer-list-target Example Item 2
					li.footer-list-item
						a(href="").footer-list-target Example Item 3
					li.footer-list-item
						a(href="").footer-list-target Example Item 4
				ul.item.col-md-2
					a(href="").title Publish
					li.footer-list-item
						a(href="").footer-list-target Example Item 1
					li.footer-list-item
						a(href="").footer-list-target Example Item 2
					li.footer-list-item
						a(href="").footer-list-target Example Item 3
					li.footer-list-item
						a(href="").footer-list-target Example Item 4
				ul.item.col-md-2
					a(href="").title Learning Center
					li.footer-list-item
						a(href="").footer-list-target Example Item 1
					li.footer-list-item
						a(href="").footer-list-target Example Item 2
					li.footer-list-item
						a(href="").footer-list-target Example Item 3
					li.footer-list-item
						a(href="").footer-list-target Example Item 4
				ul.item.col-md-2
					a(href="").title Why Centro
					li.footer-list-item
						a(href="").footer-list-target Example Item 1
					li.footer-list-item
						a(href="").footer-list-target Example Item 2
					li.footer-list-item
						a(href="").footer-list-target Example Item 3
					li.footer-list-item
						a(href="").footer-list-target Example Item 4
				ul.item.col-md-2
					a(href="").title More Centro
					li.footer-list-item
						a(href="").footer-list-target Example Item 1
					li.footer-list-item
						a(href="").footer-list-target Example Item 2
					li.footer-list-item
						a(href="").footer-list-target Example Item 3
					li.footer-list-item
						a(href="").footer-list-target Example Item 4
a(href="").copyright © Copyright 2014 - All rights reserved
