.items
	.container
		.row
			.items-content.col-sm-12
				.items-content-item.col-md-4.col-sm-4
					h2.items-content-title Testimonials
					picture.items-content-bimage
						a(href="").items-content-target
							img(src="images/fpo/video-img.png", alt="").items-content-image
					.text
						span.first ann charles 
						span.second ceo brandfog
				.items-content-item.col-md-4.col-sm-4.hide-s
					h2.items-content-title see it
					picture.items-content-bimage
						a(href="").items-content-target
							img(src="images/fpo/item-2.png", alt="").items-content-image
					p.items-content-description Centro Planner is the first in a family of products being developed to help accelerate digital ad campaign execution.
				.items-content-item.col-md-4.col-sm-4.hide-s
					h2.items-content-title try it
					picture.items-content-bimage
						a(href="").items-content-target
							img(src="images/fpo/item-3.png", alt="").items-content-image
					p.items-content-description Planner is the first in a family of products being developed to help accelerate digital ad campaign execution.