.slide
    .container
            .row
                .slide-home.col-md-12
                    #s-0.slide-item.slide-visible
                        img.slide-item-image(src="images/fpo/slide-img1.jpg" alt="")
                        .slide-home-caption
                            p.slide-item-first Zemoga Test
                            p.slide-item-second Pure Js Slide
                            span.slide-text (so that explains the smile!)
                            a(href="").button.slide-item-button LEARN MORE
                                span.fa.fa-play.slide-item-icon
                    #s-1.slide-item
                        img.slide-item-image(src="images/fpo/slide-img2.jpg" alt="")
                        .slide-home-caption
                            p.slide-item-first Jon Snow
                            p.slide-item-second You Know Nothing
                            span.slide-text (so that explains the smile!)
                            a(href="").button.slide-item-button LEARN MORE
                                span.fa.fa-play.slide-item-icon
                    #s-2.slide-item
                        img.slide-item-image(src="images/fpo/slide-img3.jpg" alt="")
                        .slide-home-caption
                            p.slide-item-first Won't somebody please
                            p.slide-item-second think of the children
                            span.slide-text (so that explains the smile!)
                            a(href="").button.slide-item-button LEARN MORE
                                span.fa.fa-play.slide-item-icon
                    span.slide-button.animated.prev#button-prev Anterior
                    span.slide-button.animated.next#button-next Siguiente
