.catalog .container {
  width: 90%;
  margin: auto;
  padding: 1.25em 0; }

.catalog .items .item.item-detail {
  width: 100%;
  padding-left: 0; }

.catalog .items {
  display: inline-block;
  width: 100%; }
  .catalog .items .item-content {
    border: 2px solid rgba(107, 107, 107, 0.2);
    padding: 0.625em 0;
    padding-bottom: 0; }
    .catalog .items .item-content .brand {
      font-weight: 900; }
    .catalog .items .item-content .image img {
      width: 60%; }
    .catalog .items .item-content .price {
      background-color: rgba(107, 107, 107, 0.7);
      color: white;
      padding: 0.75em 0;
      margin-top: 0.625em; }
  .catalog .items .item {
    padding: 0 0.3125em;
    width: 25%;
    position: relative;
    float: left;
    padding-bottom: 0.6875em;
    box-sizing: border-box;
    cursor: pointer; }
    .catalog .items .item.active:after {
      content: "";
      position: absolute;
      bottom: 0.125em;
      right: 105px;
      width: 0px;
      height: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid rgba(107, 107, 107, 0.7); }
    .catalog .items .item:nth-child(n+4) {
      padding-right: 0; }
    .catalog .items .item:first-child {
      padding-left: 0; }
    .catalog .items .item:last-child {
      padding-right: 0; }
    .catalog .items .item.virtual .item-content {
      display: inline-block;
      width: 100%; }
    .catalog .items .item.virtual.item-detail .detail-content {
      margin-top: 0.3125em;
      padding-left: 20px; }
    .catalog .items .item.virtual .actions {
      width: 100%;
      text-align: right;
      padding-right: 20px; }
      .catalog .items .item.virtual .actions a {
        width: auto;
        padding-left: 20px;
        padding-right: 20px; }
    .catalog .items .item .address label {
      padding-bottom: 0.625em;
      display: inline-block;
      width: 100%;
      font-weight: 900; }
    .catalog .items .item.item-detail .image {
      width: 15%;
      display: inline-block;
      padding-left: 1.25em; }
      .catalog .items .item.item-detail .image img {
        width: 100%; }
    .catalog .items .item.item-detail textarea {
      margin: 0.9375em 0;
      max-width: 100%;
      resize: none; }
    .catalog .items .item.item-detail textarea::-webkit-input-placeholder {
      color: #6B6B6B; }
    .catalog .items .item.item-detail textarea::-moz-placeholder {
      color: #6B6B6B; }
    .catalog .items .item.item-detail textarea:-ms-input-placeholder {
      color: #6B6B6B; }
    .catalog .items .item.item-detail textarea::placeholder {
      color: #6B6B6B; }
    .catalog .items .item.item-detail select, .catalog .items .item.item-detail textarea {
      padding-right: 0.625em;
      padding-left: 0.625em;
      width: 100%; }
    .catalog .items .item.item-detail form {
      margin-top: 1.875em;
      padding: 0 1.25em;
      width: 50%;
      display: inline-block;
      box-sizing: border-box; }
    .catalog .items .item.item-detail .detail-content {
      margin-top: 1.875em;
      width: 49%;
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      padding-right: 1.25em; }
      .catalog .items .item.item-detail .detail-content .actions {
        margin-top: 1.5625em; }
      .catalog .items .item.item-detail .detail-content .price-title {
        font-weight: 900; }
      .catalog .items .item.item-detail .detail-content .price-number {
        color: #E42949;
        padding-left: 0.3125em;
        font-weight: 900; }
        .catalog .items .item.item-detail .detail-content .price-number:before {
          content: '$'; }
    .catalog .items .item.item-detail .info {
      display: inline-block;
      width: 79%;
      vertical-align: top;
      margin-top: 1.5625em;
      padding: 0 0.625em;
      box-sizing: border-box; }
      .catalog .items .item.item-detail .info .brand, .catalog .items .item.item-detail .info .text {
        text-align: left; }
      .catalog .items .item.item-detail .info .brand {
        font-size: 1.25em;
        padding-bottom: 0.625em; }
  .catalog .items .image, .catalog .items .brand, .catalog .items .price {
    width: 100%;
    display: block;
    text-align: center; }

.catalog aside {
  width: 15%;
  display: inline-block;
  text-align: left;
  padding-bottom: 1.25em;
  color: #6B6B6B;
  padding-right: 1.25em; }
  .catalog aside .title {
    padding-bottom: 1.25em;
    line-height: 120%;
    font-weight: 600; }
  .catalog aside .subtitle {
    text-transform: uppercase;
    margin-bottom: 0.625em;
    padding-bottom: 0.375em;
    border-bottom: 2px solid; }
    .catalog aside .subtitle:before {
      content: '';
      width: 28px;
      height: 17px;
      float: left;
      background-size: 80%;
      background-repeat: no-repeat;
      background-image: url("../images/fpo/categories.svg"); }

.catalog .nav-categories {
  display: inline-block;
  width: 100%; }
  .catalog .nav-categories li {
    padding: 0.625em 0 0.625em 1.5625em;
    font-size: .8em; }

.catalog .content {
  display: inline-block;
  vertical-align: top;
  width: 82%; }

.catalog .search {
  margin-bottom: 1.25em; }

.catalog .buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1.25em; }
  .catalog .buttons a {
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto;
    margin-right: 0.625em;
    text-align: center;
    padding: 1.125em 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    background-color: #A7A5A5; }
    .catalog .buttons a.active, .catalog .buttons a:hover {
      background-color: #E42949; }
    .catalog .buttons a:hover {
      text-decoration: none; }
    .catalog .buttons a:last-child {
      margin-right: 0; }

.catalog .virtual.step-2 .item-content {
  width: 100%;
  padding: 1.25em;
  box-sizing: border-box; }

.catalog .virtual.step-2 .title {
  padding-bottom: 0.9375em;
  text-align: center;
  font-weight: 800; }

.catalog .virtual.step-2 .actions {
  margin: 1.25em 0;
  margin-bottom: 0; }

.catalog .virtual.step-2 .item {
  width: 100%; }

.catalog .virtual.step-2.item.item-detail .image {
  margin-top: 1.25em; }

.catalog .virtual.step-2 .header {
  padding-bottom: 5.625em; }

.catalog .virtual.step-2 .preview-price {
  text-align: right;
  padding: 0 1.25em;
  color: #E42949;
  font-weight: 800; }

.catalog .virtual.step-2 .brand {
  margin-top: 0.9375em; }

.catalog .virtual.step-3 .item-content {
  width: 100%;
  padding: 1.25em;
  box-sizing: border-box; }

.catalog .virtual.step-3 .title {
  padding-bottom: 1.25em; }

.catalog .virtual.step-3 .item-content .image {
  padding-left: 0; }

.catalog .virtual.step-3 .item {
  width: 100%;
  padding-right: 1.25em; }

.catalog .virtual.step-3 .black-button {
  margin-right: 1.25em; }

.catalog .virtual.step-3 .preview-card, .catalog .virtual.step-3 .form {
  width: 50%; }

.catalog .virtual .box-preview {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.catalog .virtual .preview-card {
  width: calc(100% * (1/3) - 10px - 1px);
  text-align: center;
  margin: 0 auto;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto; }
  .catalog .virtual .preview-card .item .image {
    width: 100%; }
